@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css?family=Patua+One");
/* 
  font-family: 'Bree Serif', serif;
  font-family: 'Patua One', cursive;
*/

.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 200px;
}

.content-body {
  margin: 0 auto;
  width: 80%;
}

.trail {
  background: lightgrey;
  padding: 5px 20px;
  margin: 10px auto;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  display: block;
  box-shadow: 5px 3px rgba(0, 0, 0, 0.5);
  font-family: "Patua One", cursive;
  font-size: 1.1em;
}

.trail span {
  font-family: "Bree Serif", serif;
  font-size: 1.2em;
}

.content-header {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  margin: 30px 0px 20px;
  font-family: "Patua One", cursive;
}

.trail-input {
  width: 70%;
  margin: 35px auto 50px;
  text-align: center;
}

.trail-input input, .trail-input select {
  display: block;
  margin: 10px auto;
}

input#length {
  width: 80px;
}
.input-link {
  text-decoration: none;
  font-size: 1.3em;
}

.lighten {
  opacity: 0.6;
  font-size: 0.9em;
}